/* * will be applicable for all the html elements */
*{
    margin: 0;
    padding: 0;
    /* in order to use the fonts from google fonts */
    font-family: 'Sono', sans-serif;
}
/* .class will */
.header{
    min-height: 100vh;
    width: 100%;
    /* add the image path in ,url() */
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(images/wallpaper.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
/* this changes the position of the logo */
nav{
    display: flex;
    padding: 2% 2%;
    justify-content: space-between;
    align-items: center;
}
/* this changes the logo's size */
nav img{
    width: 100px;
}
/* this changes the position of the links */
.nav-links{
    flex: 1;
    text-align: right;
}
/* this changes the distance between each links */
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 4px 20px;
    position: relative;
}
/* this changes the color of the links */
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
/* hover effect */
.nav-links ul li::after{
    content: '';
    /* turned width into 0% in order to prevent the hover to block the cursor */
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    /* when the cursor moves over the hover will appear in full size in 0.5s */
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
/* change the text-box size, color, position, text-align here */
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
/* change the headers size here */
.text-box h1{
    font-size: 62px;
}
/* change the text size here */
.text-box p{
    margin: 10px 0 40px;
    padding-bottom: 1px;
    font-size: 14px;
    color: #fff;
}
/* turn the link into a button */
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
/* give the button a hover effect */
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
/* this will stop the icons for smaller screens show */
nav .fa{
    display: block;
}

/* deal with smaller screen, so that the font size won't become weird */
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: none;
    }
    /* turn the link into a side bar, right -200 will hide the menu at first */
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    /* show the icon of the menu and X */
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    /* get some space around the menu */
    .nav-links ul{
        padding: 30px;
    }
}

/* Section intro */
.Intro{
    display: flex;
    justify-content: space-evenly;
    height: 60vh;
    padding: 50px;
    flex-wrap: wrap;
}
.profile-pic{
    width: 300px;
    height: 300px;
}
.side1 h2{
    font-size: 16px;
    padding-top: 2%;
    text-align: center;
}
.side1 p{
    font-style: italic;
    line-height: 0.5em;
    color: #120707;

}
.side2{
    width: 50%;
    position: relative;
    bottom: -200;
}
.side2 p{
    color: #0f2f2c;
    padding-bottom: 1px;
    font-size: 20px;
}
.side2 #update {
    position: relative;
    padding: auto;

    color: #f44336;
}
.row1 {
    height: 50px;
}
.row1 img{
    padding-top: 0px;
    width: auto;
}
.row1 p{
    text-align: center;
}
/* ------------ skills ------------ */
.skills{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: rgb(5, 13, 249);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
p1{
    font-size: 14px;
    font-weight: 900;
}

/* deal with the columns */
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.skills-col{
    flex-basis: 24%;
    /* this add the columns with background colors */
    background: #dcd4f0;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
ul{
    text-align: left;
}
.skills-col:hover{
    box-shadow: 0 0 20px 0px rgba(6, 61, 243, 0.923);
}

/* deal with small screens */
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/* ------------ Education ------------ */
.education{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h2{
    text-align: left;
}
.education-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
/* change the size of the img */
.education-col img{
    width: 100%;
    border-radius: 10px;
    height: 100%;
}
.layer{
    background: transparent;
    border-radius: 10px;
    height: 100%;
    width: 94%;
    position: absolute;
    top: 0;
    left: 12px;
}
.layer:hover{
    background: rgba(111, 73, 228, 0.7);
    transition: 0.5s;
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.5s;
    /* opacity: 0 hides the word at first */
    opacity: 0;
}
.layer:hover h3{
    bottom: 35%;
    opacity: 1;
}

/* ------------ Side Projects ------------ */
.projects{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.projects-col{
    flex-basis: 33%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.projects-col img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
.projects-col p{
    padding: 0;
}
.projects-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/* ------------ Courses ------------ */
.courses{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.courses-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.courses-col img{
    
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
}
.courses-col p{
    padding: 0;
}
.courses-col h5{
    text-align: left;
}
.fa-star{
    color: #f44336;
}

@media(max-width: 700px) {
    .courses-col img{
        margin-left: 0px;
        margin-right: 15px;
    }
}

/* ------------ footer ------------ */
.footer{
    margin-top: 10%;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.a {
    text-decoration: none;
}
.icons .fa-brands{
    color: #f44336;
    margin: 0 13;
    margin-right: 20px;
    cursor: pointer;
    padding: 18px 0;
    font-size: 30px;
}
.fa-heart{
    color: #f44336;
}